@import '../../styles/variables.scss';

.about {
    padding: 2em 7em;
}

.collapse {
    flex-direction: column;
    gap: 22px;
    width: 100%;
    padding: 22px 0;

    @media screen and (min-width: $sm) {
      
    }

    @media screen and (min-width: $lg) {
        gap: 22px;
    }
}