@import '../../styles/variables.scss';

.about {
    padding: 1em;
}

.collapse {
    padding: 1.38em 0;
}

@media (min-width: $md) {
    .about {
        padding: 2em;
    }

}
@media (min-width: $lg) {
    .about{
        padding: clamp(1em, 2vw, 2em) clamp(3em, 5vw, 7em); // padding: haut/bas gauche/droite
    }

}