@import '../../styles/variables.scss';

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;

    &__tag {
        background-color: $kasa-red;
        border-radius: 25px;
        padding: 8px 20px;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
    }
}