@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import './variables.scss';

* {
    
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}

html {
    font-family: Montserrat;
    font-size: 16px;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;

    .main__container {
        width: 100vw;
        max-width: $xl;
        min-width: 320px;
        display: flex;
        flex-direction: column;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

