@import '../../styles/variables.scss';

.card__link-housing {
    width: 100%;
    min-width: 17.5em; 
    max-width: 100%;
    height: 15.94em;
    display: flex;
    flex: 1 1 auto;

    .gallery__card {
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        flex: 1 1 auto;

        &:hover {
            transform: scale(1.02);
            transition: transform 300ms ease;
            box-shadow: 2px 5px 10px 3px rgba(0, 0, 0, .2);
        }

        .card__img-preview {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
        }

        .card__caption {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: #fff;
            font-size: 1.13rem;
            font-weight: 700;
            background: $card-overlay-gradient;
            border-radius: 0 0 10px 10px;
            padding: 0.62em;
            height: auto;
        }
    }

    // Media query pour les tablettes
    @media (min-width: 600px) and (max-width: 1024px) {
        width: 45%; 
        height: 18.75em;
        max-width: 25em;
    }

    // Media query pour les écrans moyens
    @media (min-width: $sm) {
        width: 40%; 
        height: 20em;
        max-width: 21.25em;
    }

    // Media query pour les écrans plus larges
    @media (min-width: $lg) {
        width: 30%; 
        height: 21.25em;
        max-width: 21.25em;
    }
}