@import '../../styles/variables.scss';

.collapse {
    width: 100%;

    .collapse__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $kasa-red;
        border-radius: 5px;
        height: 1.88em;
        padding: 0 0.62em;
        flex-grow: 1;
        cursor: pointer;

        .collapse__heading {
            font-size: clamp(1.2rem, 2vw, 1.6rem); 
            color: $collapsible-text-color;
        }

        .arrow {
            width: 1em;
            height: 0.56em;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .collapse__content {
        height: 0;
        overflow: hidden;
        transition: height 0.6s ease-in-out, opacity 0.6s ease-in-out;
        opacity: 0;
    }

    .arrow-up {
        transform: rotate(0);
        transition: transform 600ms;
    }

    .arrow-down {
        transform: rotate(-180deg);
        transition: transform 600ms;
    }

    &.active {
        .collapse__content {
            height: auto;
            opacity: 1;
            background: $content-bg-color;
            font-size: 1.12rem;
            padding: 1em;
            border-radius: 5px;

            ul {
                list-style-type: none;
            }
        }
    }

    // Media queries pour les écrans plus larges
    @media screen and (min-width: $sm) {
        .collapse__header {
            height: 2.19em;
            font-size: clamp(1.3rem, 2.5vw, 1.7rem); 

            .collapse__heading {
                font-size: clamp(1.3rem, 2.5vw, 1.7rem); 
            }

        }
    }

    @media screen and (min-width: $md) {
        .collapse__header {
            height: 2.81em;
        }
    }

    @media screen and (min-width: $lg) {
        .collapse__header {
            height: 3.25em;
        }
    }
}