@import '../../styles/variables.scss';

.header {
    padding: clamp(1em, 2vw, 2em); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &__logo {
        width: clamp(9.06em, 15vw, 1313.12em); 
        height: auto;
    }

    &__nav {
        display: flex;
        gap: clamp(1.5em, 4vw, 6em); 
        align-items: center;

        .nav__link-home,
        .nav__link-about {
            font-size: clamp(1rem, 2.5vw, 1.12rem); 
            font-weight: 500;
            text-decoration: none;
            color: #000;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    // Media query pour les écrans plus larges
    @media (min-width: $md) {
        padding: clamp(2em, 3vw, 4em); 
        justify-content: space-between;
        width: auto;

        &__logo {
            width: clamp(11.25em, 12vw, 13.12em); 
        }

        &__nav {
            gap: clamp(4em, 5vw, 6em); 

            .nav__link-home,
            .nav__link-about {
                font-size: clamp(1.3rem, 2.5vw, 1.5rem); 
            }
        }
    }

        @media (min-width: $lg) {
            padding: clamp(1em, 2vw, 2em) clamp(3em, 5vw, 7em);
            justify-content: space-between;
            width: auto;
    
            &__logo {
                width: 13.12em; 
            }
    
            &__nav {
                gap: 6em; 
    
                .nav__link-home,
                .nav__link-about {
                    font-size: 1.5rem; 
                }
            }
        }
}